@import url("https://fonts.googleapis.com/css2? family= Overpass:wght@700 & family= Roboto:wght@100;400;900 & display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}
body {
  font-family: "Roboto", sans-serif;
}
/* ---- menu ----- */
/*----Header----*/
.topheder {
  box-shadow: 0 4px 5px rgb(5, 81, 83);
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
}
.topnav {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  max-width: 980px;
  margin: 0 auto;
}
/*----logo----*/
.logo {
  display: flex;
  align-items: center;
  font-size: 20px;
  font-weight: 500;
  color: white;
}
.logo img {
  border-radius: 50%;
}
/*----heder----*/
header {
  background-color: rgb(94, 219, 182);
  color: white;
}
/*----menu----*/
.menu {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}
.menu li {
  display: inline-block;
  margin: 30px 15px;
}
.menu a {
  font-size: 16 px;
  line-height: 50px;
  color: white;
  font-weight: 500;
}
.menu a:hover {
  color: darkcyan;
}
.open-menu,
.close-menu {
  display: none;
}
/*----mobali----*/

@media (max-width: 700px) {
  /*----heder----*/

  header {
    background-color: rgb(94, 219, 182);
    color: white;
    height: 100%;
  }

  /*----menu----*/
  .menu {
    flex-direction: column;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    align-items: center;
    height: 100%;
    overflow-y: auto;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu li {
    padding: 0;
  }
  .menu a {
    line-height: 50px;
    color: white;
  }
  .menu a:hover {
    color: darkcyan;
  }
  .open-menu,
  .close-menu {
    display: block;
    border: none;
    background: none;
    cursor: pointer;
  }
  .close-menu {
    align-self: flex-end;
    padding: 33px 10px;
  }

  .menu_opened {
    opacity: 1;
    pointer-events: all;
  }
  .open-menu:focus:not(:focus-visible),
  .close-menu:focus:not(:focus-visible) {
    outline: none;
  }
}
